
@use 'variables' as v;
@use 'button' as b;
@import 'mixins';
@import 'media';

body{
  
    height: 100vh;
    font-family: v.$font-family;
    // background-color: va.$primary;
    background: v.$primary;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.card{
    box-sizing: border-box;
    @include responsive (xs) {
        background: red;
    }
    @include responsive (xl) {
        background: orange;
    }
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 3px 4px 10px grey;
    padding: 1rem;
    background: white;
    padding: 2rem;

    h1{
        font-size: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid gray;
       
        span{
            color: green;
            @include responsive(xs) {
                color: blue;
            }
        }
    }
    .text{
        color: #333;
    }
    ul{
        
        @include inline-list;
    }
}

